@media (min-width: 992px) {

/* NAV */
    #mainNav {
      padding-top: 0;
      padding-bottom: 0;
      border-bottom: none;
      background-color: transparent;
      transition: background-color 0.3s ease-in-out;
    }
    /* Company name */
    #mainNav .navbar-brand {
      padding: 0.5rem 0;
      color: rgba(255, 255, 255, 0.5);
    }
    /* links */
    #mainNav .nav-link {
      transition: none;
      padding: 2rem 1.5rem;
      color: rgba(255, 255, 255, 0.5);
    }
    #mainNav .nav-link:hover {
      color: rgba(255, 255, 255, 0.8);
    }
    #mainNav .nav-link:active {
      color: #fff;
    }
    #mainNav.navbar-shrink {
      background-color: rgba(0, 0, 0, 0.5);
    }
    #mainNav.navbar-shrink .navbar-brand {
      color: #ffffff;
    }
    #mainNav.navbar-shrink .nav-link {
      color: #ffffff;
      padding: 1.5rem 1.5rem 1.25rem;
      border-bottom: 0.25rem solid transparent;
    }
    #mainNav.navbar-shrink .nav-link:hover {
      color: #fffb03;
    }
    #mainNav.navbar-shrink .nav-link:active {
      color: #ffffff;
    }
    #mainNav.navbar-shrink .nav-link.active {
      color: #ffffff;
      outline: none;
      border-bottom: 0.25rem solid #ffffff;
    }

    #mainNav .dropdown-menu {
      /* background: transparent; */
      background:rgba(0, 0, 0, 0.5)!important;
      border: none;
      
    }
  
    #mainNav .dropdown-menu a{
      
      color: white !important;
    }
    #mainNav .dropdown-menu a:hover{
      background: transparent;
      color: #fffb03 !important;
    }



/* HOMEPAGE */
    .bg {
      height: 100vh;
      padding: 0;
    }
    .bg h1 {
      font-size: 6.5rem;
      line-height: 6.5rem;
      letter-spacing: 0.8rem;
    }
    .bg h2 {
      max-width: 30rem;
      font-size: 1.25rem;
    }

    .middle{
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    
    
    .mouse{
      width: 30px;
      height: 50px;
      border: 4px solid rgb(122, 122, 122);
      border-radius: 60px;
    }
    .mouse::before{
      content: "";
      width: 5px;
      height: 5px;
      position: absolute;
      top: 10px;
      background: rgb(255, 255, 255);
      left: 50%;
      transform: translateX(-50%);
      border-radius: 50%;
      opacity: 1;
      animation: mouse 2s infinite;
      
    }
    
    @keyframes mouse{
      from{
        opacity: 1;
        top: 10px;
      }
      to{
        opacity: 0.0;
        top: 25px;
      }
    }





/* ABOUT */

    hr.right-line{
     
      border-bottom: 3px solid #fffb03;
      width: 80%;
      margin-left: 20%;
      

      overflow-x: hidden;
      /* Hide horizontal scrollbar */
      /* Doesn't work */


      /* .w3-animate-right */
      /* position:relative;
      animation: animateright 1s
    }
      @keyframes animateright{
        from{
          right:-700px;opacity:0
        } 
        to{
          right:0;opacity:1
        }*/
      } 

    hr.left-line{
     
        border-bottom: 3px solid #fffb03;
        width: 80%;
        margin-right: 20%;
        
  
        
      } 

      


     
      
    







/* PROJECTS */

/* #page-header {
  height: 100vh;
  background: url('/img/test.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  text-align: center;
  color: #fff;
  border-bottom: 2px #eee solid;
} */





    

    .projects-section .featured-text {
      padding: 0 0 0 2rem;
      border-left: 0.5rem solid #64a19d;
    }

    .projects-section .project-text {
      padding: 5rem;
      /* background: rgb(31, 31, 31); */
    }




    .projects-section .project-text hr {
      border-color: #fffb03;
      border-width: 0.25rem;
      width: 500px;

    }

    .projects-section .project-text hr.line-right{
      border-color: #fffb03;
      border-width: 0.25rem;
      width: 500px;
      position: absolute;
      right: 5rem;
    }




    

  .yellow-line-left{
      padding-left: 2rem;
      border-left: 4px solid #fffb03;
  }

  .yellow-line-right{
    padding-right: 2rem;
    
    border-right: 4px solid #fffb03;
}





  






    /* end of min-width: 992px */
  }




  

  @media (min-width: 768px) {
    .bg h1 {
      font-size: 4rem;
      line-height: 4rem;
    }
  }
  



