*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.overflow-x-hidden{
  overflow-x: hidden;
}


/* --------------- Loader --------------- */
  .loader-container{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.801);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
  }

  .loader{
    width: 50px;
    height: 50px;
    border: 5px solid;
    color: rgb(255, 230, 0);
    border-radius: 50%;
    border-top-color: transparent;
    animation: loader 1s linear infinite ;
  }

  

  @keyframes loader{
    25%{
        color: rgb(217, 255, 0);
    }

    50%{
        color:  rgb(217, 255, 50);
    }

    75%{
        color: rgb(0, 0, 0);
    }

    to{
        transform: rotate(360deg);
    }
  }

  


/* --------------- Scroll --------------- */

  .scrollTop{
    position: fixed;
    bottom: 800px;
    right: 2%;
    width: 30px;
    height: 30px;
    background: rgba(255, 230, 0, 0.6) url("../img/arrow-up-solid.svg");
    /* https://fontawesome.com/icons/arrow-up?style=solid */
    
    background-size: 20px ;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 25%;
    cursor: pointer;
    z-index: 10;
    /* visibility: hidden;  */
    opacity: 0;
    transition: 1s;
  }

  .scrollTop:hover{
    background-color: rgba(255, 230, 0, 1)
  }

  .scrollTop.active{
    bottom: 30px;
    visibility: visible;
    opacity: 1;
  }

  /* scrollbar */


    ::-webkit-scrollbar {
      width: 5px;
    }

    ::-webkit-scrollbar-track {
      background: #8d8d8d; 
    }

    ::-webkit-scrollbar-thumb {
      background: #ffe600; 
    }

    ::-webkit-scrollbar-thumb:hover {
      background:#a8a500; 
    } 

 




/* --------------- Nav --------------- */
  
  #mainNav {
    min-height: 3.5rem;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
  }

  /* hamburger */
  #mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: #a0a0a0;
    border: 1px solid #ffffff;
  }

  #mainNav .navbar-toggler:focus {
    outline: none;
  }

  /* company name */
  #mainNav .navbar-brand {
    color: #ffffff;
    font-weight: 700;
    padding: 0.9rem 0;
  }

  #mainNav .navbar-nav .nav-item:hover {
    color: #ffffff;
    outline: none;
    background-color: transparent;
  }

  #mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent;
  }

  #mainNav .dropdown-menu {
    background: transparent;
    /* background:rgb(234, 0, 255); */
    border: none;
    color: white;
    text-align: center;

  }

  #mainNav .dropdown-item:hover {
    background: rgba(255, 230, 0, 0.9);
  }
  
  #mainNav .dropdown-menu a{
    color: rgba(255, 255, 255, 0.5);
  }
  


  


  

  
/*  --------------- homepage ---------------  */
  .bg {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0.4) 50%, #000000 100%),
    url("../img/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }

  .bg h1 {  
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.5rem;
    background: linear-gradient(rgba(255, 255, 255, 0.959),
      rgba(190, 171, 0, 0.822));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
  }

  .bg h2 {
    max-width: 20rem;
    font-size: 1rem;
  }
    
    
  .about-section {
    padding-top: 7rem;
    
  }

  .gradient-bg{
    /* for browser who dont support gradient */
    background: #1a1a1a;

    background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0.9) 75%,
    rgba(0, 0, 0, 0.8) 100%);
  
  }
  .btn {
    padding: 1.25rem 2rem;  
    font-size: 80%;
    text-transform: uppercase;
  }

  
  #team-home{
    /* for browser who dont support gradient -> class bg-dark */
    

    /* gradient per section */
    /* padding-top: 5rem; */
    /* background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0.7) 70%,
    rgba(0, 0, 0, 0.6) 100%); */


    /* full gradient homepage */
    /* background: linear-gradient(to top, #000000 0%,   rgba(51, 51, 51, 0.9) 100%,
          rgba(54, 54, 54, 0.8) 100%); */

    background: #000000 !important;

          
  }
  
  #project-home{
    /* for gradient per section */
    /* padding-top: 5rem; */
    background: #0e0e0e !important;
  }

  
  
  #team-home img{
    filter: opacity(80%);
  }
  
  #contact-home{
    /* for browser who dont support gradient -> class bg-dark */

    /* gradient per section */
    /* padding-top: 5rem;
    background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0.7) 70%,
    rgba(0, 0, 0, 0.2) 100%); */

    /* full gradient homepage */
      /* background: linear-gradient(to top, #000000 0%, rgba(51, 51, 51, 0.9) 100%,
          rgba(19, 19, 19, 0.8) 100%); */

    background: #000000 !important;
    }




/*  --------------- Quote ---------------  */

  /* center the blockquote */
  .blockquote-wrapper {
    display: flex;
    justify-content: center;
    


    /* option2 */
    /* border: 3px solid rgba(182, 182, 182, 0.87); */
    margin-left: 20%;
    margin-right: 20%;
    background: rgb(26, 26, 26);
    padding: 1rem;
    /* border: 1px solid rgba(255, 255, 255, 0.658); */
    /* border-left: 4px solid #ffe600; */
    
  }

  /* Blockquote main style */
  .blockquote {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    max-width: 40vw;
    z-index: 1;
    align-self: center;
    padding: 1rem;
    padding-left: 2rem;

    /* border-bottom: solid 2px #ffe600; */
    
    /* option2 */
    /* border-bottom: solid 2px #ffffffb6; */
  }

  /* Blockquote text */
  .blockquote p {
    position: relative;
    color: #b3b3b3;
    line-height: 1;
    margin: 0;
    text-align: start;
    
  }

  /* Blockquote right double quotes */
  .blockquote:after {
    position: absolute;
    content: "”";
    color: rgb(148, 148, 148);
    font-size: 10rem;
    line-height: 0;
    bottom: -43px;
    right: 30px;
  }

  /* Blockquote writer/name */
  .blockquote h5 {
    position: relative;
    color: #727272;
    line-height: 1;
    margin: 0;
    padding-top: 1rem;
    z-index: 1;
    text-align: start;
  }





/*  --------------- Team ---------------  */

  #architects{
    padding-top: 100px;

    /* for browser who dont support gradient */
    background: #1a1a1a;
      
    background: linear-gradient(to top,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.4) 50%, 
      #000000 100%);
  }

  #architects h5 {
    font-weight: normal;
  }
 


  #architects img {
    margin-top: -50px; 
  }

  

  #architects .card {
    background: #161616ec;
    color: rgb(255, 255, 255); 
  }





/*  --------------- Projects ---------------  */
  
  .projects-section {
  
      padding-top: 100px;
  
      /* for browser who dont support gradient */
      background: #1a1a1a;

      background: linear-gradient(to top,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 50%, 
        #000000 100%)
      
  }

  .projects-section .featured-text {
    padding: 2rem;
  }
    
  .projects-section .project-text {
    padding: 3rem;
    font-size: 90%;
  }

  /* Gallery */

    .gallery-section{
      padding: 60px 0;

      /* for browser who dont support gradient */
      background: #1a1a1a;
        
      background: linear-gradient(to top,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 50%, 
        #000000 100%)
      
    }

    .gallery-section .image img{
      width: 100%;
      height: 100%;
      transition: 0.7s;
    }

    




/*  --------------- Contact ---------------  */
  #contact{
    padding-top: 100px;
    background: #1a1a1a;
  
    
  }

  #contact .btn{
    background-color: #1A1A1A;
    color: white;
    
  }



 
  




/*  --------------- Signup ---------------  */

  
  .signup-section {
    padding: 5rem 0;
    background: url("../img/newsletter-bg.png");
    /* filter: brightness(50%); */
    
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    
  }

  .signup-section .dark-overlay{
    background: rgba(0, 0, 0, 0.5);
    /* display: inline-block;
    padding: 0 1rem; */
  }

  .signup-section .status{
    color: white;
    
  }


  .signup-section form .btn{
    background-color: #ffe600;
    padding: 0.5rem 1rem;  
    font-size: 85%;
    font-weight: bold;
    text-transform: uppercase;
    
  }
  
  
  
/*  --------------- Footer ---------------  */
  footer {
    background: #0A0A0A;
  }















